html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}

.news{
  background-color: aqua;
  width: 100%;
  height: 300px;
}

.movie{
  background-color: green;
  width: 100%;
  height: 300px;
}

.profile{
  background-color: red;
  width: 100%;
  height: 300px;
}

.contact{
  background-color: blue;
  width: 100%;
  height: 300px;
}





.image{
  width: 100%;
  height: 100%;
  background-image: url("hishatai.PNG");
  background-size:cover;
  position: fixed;
  z-index: -1;
}